@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-size: contain;
}

    /* start of navbar */
.navbar{
    /* border: 1px solid red; */
    max-width: 100%;
    min-height: 70px;
    /* margin-top: 15px; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    background-color: #fff;
    
}
.navbar .navbar-content{
    max-width: 90%;
    min-height: 50px;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.navbar .navbar-content .logo a img{
    width: 150px;
    height: 47px;
    
}
.navbar .navbar-content .links-content .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    max-width: 600px;
    /* gap: 50px; */
}
.navbar .navbar-content .links-content .nav-links li{
    list-style-type: none;
    font-family: "Outfit",sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight:300;
    line-height: 20px;
    /* border: 1px solid green; */
    margin-right: 40px;
}
.navbar .navbar-content .links-content .nav-links li:last-child{
    margin-right: 0;
}
.navbar .navbar-content .links-content .nav-links li:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    text-decoration-color: #5c5c5c;
}
.navbar .navbar-content .links-content .nav-links li a{
    text-decoration: none;
    color: #5c5c5c;
}

.navbar .navbar-content .links-content .nav-links .submenu  .submenu-content{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 200px;
    background-color: #fff;
    z-index: 99999;
    top: 55px;
   
}
.navbar .navbar-content .links-content .nav-links .submenu:hover .submenu-content{
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content1{
   display: flex;
   flex-direction: column;

}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content1 div{
    margin: 20px 25px;
    /* border: 1px solid red; */
    width: 300px;
    padding: 20px 20px;
    position: relative;
    left: 30px;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content1 div:hover {
  background-color:#e6eaff;
    cursor: pointer;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content1 div:hover li{
    text-decoration: none;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content1 div li p{
    font-family: "Outfit",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #5c5c5c;
    margin: 10px 0px;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content2 div li p{
    font-family: "Outfit",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #5c5c5c;
    margin: 10px 0px;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content2 div{
    position: relative;
    bottom: 78px;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content2 div{
    margin: 20px 25px;
    /* border: 1px solid red; */
    width: 300px;
    padding: 20px 20px;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content2 div:hover {
  background-color:#e6eaff;
    cursor: pointer;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content2 div:hover li{
    text-decoration: none;
}
.navbar .navbar-content .links-content .nav-links .submenu  .submenu-content li{
    list-style-type: none;
    font-family: "Outfit",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight:500;
    line-height: 20px;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content1 div li a{
  color: #5287ac;
}
.navbar .navbar-content .links-content .nav-links .submenu .submenu-content .submenu-content2 div li a{
  color: #5287ac;
}
.navbar .navbar-content .links-content .nav-links .submenu  .submenu li a{
    text-decoration: none;
    color: #5c5c5c;
}
.navbar .navbar-content .links-content .nav-links li a .icon{
    margin-left: 3px;
    transition: transform 0.3s ease;
}
.navbar .navbar-content .links-content .nav-links li a:hover .icon{
    transform: rotate(180deg);
}
.navbar .navbar-content .navbar-button button{
        padding: 10px 20px;
         /* border-radius: 50px; */
         /* color: #fff;
         background-color: #ff3465; */
         font-family: "Outfit",sans-serif;
         font-style: normal;
         font-size: 20px;
         font-weight: 500;
         line-height: 20px;
         /* color: #fff; */
         margin: 10px 0px ;
         border-style: none;
         color: #5287ac;
         background-color: #dce7ee;
}
.navbar .navbar-content .navbar-button button:hover{
    cursor: pointer;
    /* outline: 2px solid #ff3465;
    background-color: #fff;
    color: #ff3465; */
    box-sizing: border-box;
}
@media only screen and (min-width: 980px) {
 .navbar .navbar-content .links-content{
  display: block;
 }
 .navbar .navbar-content .navbar-button{
  display:block;
 }
 .navbar .navbar-content .nav_toggle{
  display: none;
 }
}
@media only screen and (max-width:981px) {
  .navbar .navbar-content .links-content{
    display:none;
   }
   .navbar .navbar-content .navbar-button{
    display: none;
   }
   .navbar .navbar-content .nav_toggle{
    display: block;
   }
  
  
}
/* end of navbar */

/* start of sub-heading */
.sub-heading{
  max-width: 100%;
  position: relative;
  /* border: 2px solid red; */
  min-height: 60px;
  top: 60px;
  background-color: #e5f3f0;
  display: flex;
  align-items: center;
  z-index: 9999;
}
.sub-heading .sub-heading-content{
  width:90%;
  margin: 0 auto;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.sub-heading .sub-heading-content h2{
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  color: #004853;
  font-weight: 500;
  line-height: 39px;
}
.sub-heading .sub-heading-content h4{
  font-family: "Outfit",sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
 
}
.sub-heading .sub-heading-content h4 a{
  text-decoration: none;
  color:#004853;
}

.sub-heading .sub-heading-content h4 a:hover{
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
/* end of sub-heading */



/* start of image slider */
/* Container for the whole layout */

.container {
    display: flex;
    align-items: center;
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    overflow: hidden;
    background-repeat: no-repeat ;
    height: 1000px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    
  
  }
  
  /* Left panel with dots */
  .left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-right: 20px;
    flex-shrink: 0;
    position: relative;
  }
  
  /* Vertical line for styling */
  .vertical-line {
    position: absolute;
    left: 50%;
    top: 15%;
    height: 70%;
    width: 2px;
    background-color: white;
    z-index: -1;
  }
  
  /* Vertical dots for navigation */
  .vertical-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 70%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .vertical-dots .dot {
    height: 18px;
    width: 18px;
    margin: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 0.75em;
    cursor: pointer;
    transition: background-color 0.6s ease, transform 0.3s ease;
  }
  
  .vertical-dots .dot .number {
    display: block;
    font-size: 0.6em;
  }
  
  .vertical-dots .dot.active .number {
    display: block;
  }
  
  .vertical-dots .dot.active {
    background-color: #717171;
  }
  
  .vertical-dots .dot:hover {
    background-color: #717171;
    transform: scale(1.2); /* Slightly enlarge on hover */
  }
  
  /* Title panel */
  .title-panel {
    flex-shrink: 0;
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: auto; /* Adjust width to fit content */
    max-width: 300px; /* Optional: Set a max-width to control the maximum width of the title panel */
    
  }
  
  /* Card title */
  .card-title {
    color: white;
    /* font-size: 1.5em; */
    margin: 0;
    font-size: 60px;
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    text-align: left;
    /* word-break: keep-all; */
    /* overflow: hidden; Hide overflow text */
    display: block; /* Use block display to allow line breaks */
    /* word-wrap: break-word; Break words if necessary */
    width: 100%; /* Ensure the title uses available space */
    hyphens: auto; /* Optional: Add hyphenation to break words better */
    /* border: 1px solid red; */
    margin-left: 20px;
    /* border: 1px solid red; */
  }
  
  /* Card styling */
  .card {
    border-radius: 10px;
    overflow: hidden;
    width: 300px; /* Initial width */
    height: 300px; /* Initial height */
    position: relative;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out; /* Smooth width and height transitions */
    
  }
  
  /* Expanded state for card */
  .card-expanded {
    width: 500px; /* Expanded width */
    height: 400px; /* Expanded height */
  }
  
  /* Ensure the image fits the card container */
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
  }
  
  /* Card content styling */
  .card-content {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    font-size: 19px;
    text-align: center;
    width: calc(100% - 20px);
    padding: 0 10px;
    font-family: "Outfit",sans-serif;
   
  }
  
  
  /* Slider container */
  .slider-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    left: 200px;
    
  }
  
  
  /* Slider transition */
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    align-items: center;
    position: relative;
    /* border: 1px solid red; */
  }
  
  /* Individual slide */
  .slide {
    
    flex: 0 0 auto;
    width: 300px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 1px solid red; */
    transition: transform 0.5s ease; /* Smooth transition for slide */
   
  }
  
  /* Navigation buttons container */
  .navigation {
    position: absolute;
    bottom: 200px; /* Distance from the bottom of the slider container */
    width: 100%; /* Full width to center buttons horizontally */
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    z-index: 10; /* Ensure buttons are above other elements */
    /* border: 1px solid red; */
    
  }
  
  /* Individual navigation buttons */
  .prev, .next {
    padding: 10px 5px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.25em;
    transition: background-color 0.3s ease;
    margin: 0 10px; /* Space between buttons */
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
   /* end of image slider



   /* start of workwithus-section */
   .workwithus-section{
    /* position: relative; */
    /* position: fixed; */
    max-width: 100%;
    min-height: 500px;
    /* border: 3px solid red; */
    top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.workwithus-section .workwithus-content{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 400px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.workwithus-section .workwithus-content .content{
    flex: 1;
    /* border: 5px solid green; */
    background-color: #34495e;
    color: #fff;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    /* height: 400px; */
}
.workwithus-section .workwithus-content .content .content-data{
    /* border: 5px solid red; */
    position: relative;
    right: 0;
}
.workwithus-section .workwithus-content .content .content-data h2{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 30px;
    /* color: #fff; */
    margin: 20px 0px;
    font-weight: 500;
    line-height: 38px;
}
.workwithus-section .workwithus-content .content .content-data p{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 22px;
    margin: 20px 0px;
    font-weight: 350;
    line-height: 22px;
}
.workwithus-section .workwithus-content .form{
    flex: 1;
    /* border: 2px solid rebeccapurple; */
}
.workwithus-section .form{
    flex: 1;
    /* border: 1px solid green; */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* right: 150px; */
    /* text-align: left; */
    box-sizing: border-box;
  }
  .workwithus-section .form .content-form label{
    font-size: 21px;
    margin: 10px 0px;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    color: #000;

  }
  .workwithus-section .form .content-form input{
    padding: 10px;
    width: 350px;
    border: 1px solid #e7e7e7;
  }
  .workwithus-section .form .content-form input:hover{
    border: 2px solid black;
  }
  .workwithus-section .form .content-form button{
    margin: 25px 0px;
    padding: 10px ;
    width: 200px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #000;
    border-style: none;
    font-family: "Outfit",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    

  }
  .workwithus-section .form .content-form button:hover{
    cursor: pointer;
    background-color: #34495e;
    color: #fff;
    border-style: none;
  }


/* end of workwithus-section */


/* start of footer-section */
.footer{
/* border: 1px solid red; */
top: -18px;
position: relative;
max-width: 100%;
min-height: 300px;
background-color: #e6e6e6;

}
.footer .footer-content{
max-width: 90%;
min-height: 300px;
/* border: 1px solid green; */
margin: 0 auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
.footer .footer-content .content-1{
/* max-width: 50%; */
}
.footer .footer-content .content-1 img{
width: 150px;
height: 60px;
margin: 10px 0;
}
.footer .footer-content .content-1 p{
font-family: "Outfit",sans-serif;
font-style: normal;
font-size: 1.125rem;
font-weight: 350;
line-height: 22px;
color: #000;
}
.footer .footer-content .content-2 h1{
font-family: "Outfit",sans-serif;
font-style: normal;
font-size: 1.875rem;
font-weight: 500;
line-height: 39px;
color: #5287ac;
position: relative;

}
.footer .footer-content .content-2 ul li {
font-family: "Outfit", sans-serif;
font-style: normal;
size: 18px;
font-weight: 400;
line-height: 38px;
list-style-type: none;

}
.footer .footer-content .content-2 ul li a:hover{
text-decoration: underline;
text-underline-offset: 5px;
text-decoration-thickness: 2px;
}
.footer .footer-content .content-2 ul li a{
text-decoration: none;
color: #000;


}
.footer .footer-content .content-3 h1{
font-family: "Outfit",sans-serif;
font-style: normal;
font-size: 1.875rem;
font-weight: 500;
line-height: 39px;
color: 5287ac;
position: relative;

}
.footer .footer-content .content-3 ul li {
font-family: "Outfit", sans-serif;
font-style: normal;
size: 18px;
font-weight: 400;
line-height: 38px;
list-style-type: none;
}
.footer .footer-content .content-3 ul li a{
color: #000;
text-decoration: none;

}
.footer .footer-content .content-3 ul li a:hover{
text-decoration: underline;
text-underline-offset: 5px;
text-decoration-thickness: 2px;
}

.footer .footer-content .content-4 h1{
font-family: "Outfit",sans-serif;
font-style: normal;
font-size: 1.875rem;
font-weight: 500;
line-height: 39px;
color: #5287ac;
position: relative;
}
.footer .footer-content .content-4 ul li{
font-family: "Outfit", sans-serif;
font-style: normal;
size: 18px;
font-weight: 400;
line-height: 38px;
list-style-type: none;
}
.footer .footer-content .content-4 ul li a{
color: #000;
text-decoration: none;

}
.footer .footer-content .content-4 ul li a:hover{
text-decoration: underline;
text-underline-offset: 5px;
text-decoration-thickness: 2px;
}
@media only screen and (max-width: 768px) {
  .footer .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer .footer-content .content-1 img {
      width: 120px;
      height: 50px;
  }

  .footer .footer-content .content-2 h1,
  .footer .footer-content .content-3 h1,
  .footer .footer-content .content-4 h1 {
      font-size: 1.5rem;
  }

  .footer .footer-content .content-2 ul li,
  .footer .footer-content .content-3 ul li,
  .footer .footer-content .content-4 ul li {
      font-size: 16px;
      line-height: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .footer .footer-content .content-1 img {
      width: 100px;
      height: 40px;
  }

  .footer .footer-content .content-2 h1,
  .footer .footer-content .content-3 h1,
  .footer .footer-content .content-4 h1 {
      font-size: 1.25rem;
  }

  .footer .footer-content .content-2 ul li,
  .footer .footer-content .content-3 ul li,
  .footer .footer-content .content-4 ul li {
      font-size: 14px;
      line-height: 28px;
  }
}

/* end of footer section */